In [35]:
import pandas as pd
import datetime

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
citi_bikes_data = "201908-citibike-tripdata.csv"

In [9]:
# 2. Check the datatypes of your columns. 
citi_bike_DF = pd.read_csv(citi_bikes_data)
citi_bike_DF.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [27]:
# 3. Convert the 'tripduration' column to datetime datatype.

In [6]:
# 4. Check the datatypes of your columns.

In [7]:
# 5. Export the Dataframe as a new CSV file without the index.

In [14]:
Cdraft = pd.read_csv(citi_bikes_data)

In [38]:
Cdraft['tripduration']

0           393
1           627
2          1132
3          1780
4          1517
           ...
2344219     216
2344220     117
2344221    1614
2344222    1301
2344223     419
Name: tripduration, Length: 2344224, dtype: int64

In [39]:
time_in_minutes = pd.to_timedelta(Cdraft['tripduration'], unit='s')
time_in_minutes

0         0 days 00:06:33
1         0 days 00:10:27
2         0 days 00:18:52
3         0 days 00:29:40
4         0 days 00:25:17
                ...
2344219   0 days 00:03:36
2344220   0 days 00:01:57
2344221   0 days 00:26:54
2344222   0 days 00:21:41
2344223   0 days 00:06:59
Name: tripduration, Length: 2344224, dtype: timedelta64[ns]

In [28]:
Cdraft

0           393
1           627
2          1132
3          1780
4          1517
           ...
2344219     216
2344220     117
2344221    1614
2344222    1301
2344223     419
Name: tripduration, Length: 2344224, dtype: int64

In [32]:

Cdraft2 = pd.DataFrame([{"tripduration":time_in_minutes                 ,
"starttime":Cdraft["starttime"]                   ,
"stoptime":Cdraft["stoptime"]                    ,
"start station id":Cdraft["start station id"]           ,
"start station name":Cdraft["start station name"]          ,
"start station latitude":Cdraft["start station latitude"]     ,
"start station longitude":Cdraft["start station longitude"]    ,
"end station id":Cdraft["end station id"]             ,
"end station name":Cdraft["end station name"]            ,
"end station latitude":Cdraft["end station latitude"]       ,
"end station longitude":Cdraft["end station longitude"]      ,
"bikeid":Cdraft["bikeid"]                       ,
"usertype":Cdraft["usertype"]                    ,
"birth year":Cdraft["birth year"]                   ,
"gender":Cdraft["gender"]  }]                     
)

In [33]:
Cdraft2

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0 1970-01-01 06:33:00 1 1970-0...,0 2019-08-01 00:00:01.4680 1 ...,0 2019-08-01 00:06:35.3780 1 ...,0 531.0 1 274.0 2 ...,0 Forsyth St & Broome St 1 ...,0 40.718939 1 40.686919 2 ...,0 -73.992663 1 -73.976682 2 ...,0 408.0 1 3409.0 2 ...,0 Market St & Cherry St 1 ...,0 40.710762 1 40.686744 2 ...,0 -73.994004 1 -73.990632 2 ...,0 35305 1 38822 2 1...,0 Subscriber 1 Subscriber 2 ...,0 1996 1 1998 2 198...,0 2 1 2 2 1 3 ...